.App {
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.counter{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}